.App {
  display: grid;
  height: 100vh;
  grid-template-rows: 10vh 1fr 10vh;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

td, th {
  border: 1px solid black;
  height: 25px;
}

th {
  background-color: lightgray;
}

tr .green {
  color: green;
}

tr .red {
  color: red;
}

.App-label-container {
  width: 78px;
  border: 1px solid red;
  text-align: center;
  line-height: 20px;
}

.App-header, .App-footer {
  background-color: #3d9cbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  font-size: 35px;
  border-bottom: 1px solid black;
}

.App-footer {
  font-size: 20px;
  border-top: 1px solid black;
}

.App-link {
  color: #61dafb;
}

.App-content {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 100%;
  margin: 0 auto 0 auto;
}

thead, th {
  position: sticky;
  top: 0;
  background-color: lightgrey;
}

.Table1, .Table2 {
  height: 776px;
  width: 1000px;
  overflow: auto;
}

body {
  background: url("https://wallpapericons.com/_data/i/galleries/Alfa/Alfa_HD/Abstract/01/146-la.jpg");
}

.Checkbox {
  background-color: white;
  border: solid 1px black;
}

.selector h2{
  max-width: 83px;
  max-height: 42px;
  font-size: small;
  background-color: white;
  border: 1px solid black;
}